main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "chat_list"
        "input_user";
    grid-template-rows: 1fr minmax(60px, 200px);
    justify-items: center;
    height: 100%;
    background-color: #ffffff;
    transition: background-color 100ms ease-in-out;
}

main.dark {
    background-color: var(--bg-color-1-dark);
}

.chat-list {
    display: grid;
    grid-area: chat_list;
    align-items: start;
    width: 800px;
}

.start {
    display: grid;
    align-self: start;
    justify-items: center;
}

.title {
    color: rgb(13, 13, 13);
    line-height: 2rem;
    text-align: center;
    transition: color 100ms ease-in-out;
}

.title.dark {
    color: var(--color-1-dark);
}

.history-list {
    margin-top: 3.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(var(--vh) * 58);
}

.chat-element {
    display: grid;
    grid-template-columns: 43px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "chat_element_img chat_element_text";
    align-items: start;
    margin-bottom: 2.5rem;
}

.chat-element.user {
    grid-template-columns: 1fr 43px;
    grid-template-areas: "chat_element_text chat_element_img";
}

.chat-element-img {
    grid-area: chat_element_img;
}

.chat-element-img.rounded {
    border-radius: 9999px;
}

.chat-element-text {
    margin-bottom: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    justify-self: end;
    grid-area: chat_element_text;
    font-size: 16px;
    color: rgb(13, 13, 13);
    white-space: pre-wrap;
    transition: color 100ms ease-in-out;
}

.chat-element-text.user {
    color: #404040;
    background-color: #f4f4f4;
    border-radius: 12px;
    border-top-right-radius: 0;
    padding: 1rem;
}

.chat-element-text.user.dark {
    background-color: #2f2f2f;
    color: white;
}

.chat-element-text.dark {
    color: var(--color-2-dark);
}

.chat-element-img-user {
    margin-top: 1rem;
}

.input-user {
    display: grid;
    grid-area: input_user;
    align-self: baseline;
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 1rem;
    width: 800px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 1rem;
    min-height: 50px;
    transition: border-color 100ms ease-in-out;
}

.input-user.images{
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.list-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 5px;
    max-height: 55px;
    overflow-y: auto;
}

.image-selected-box {
    display: grid;
    position: relative;
}

.image-selected {
    border-radius: 5px;
    transition: filter 100ms ease-in-out;
}

.delete-image-icon {
    z-index: -1;
    position: absolute;
    color: red;
    margin-left: -6px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.image-selected-box:hover .image-selected {
    filter: brightness(70%);
}

.image-selected-box:hover .delete-image-icon {
    z-index: 1;
}

.input-manage {
    display: grid;
    grid-template-columns: 40px 40px 1fr 40px;
}

.input-manage.images {
    margin-top: 1rem;
}

.input-user.dark {
    border-color: hsla(0, 0%, 100%, 0.15);
}

textarea {
    align-self: center;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(13, 13, 13);
    max-height: 150px;
    field-sizing: content;
    min-height: 20px;
    font-size: 16px;
    transition: color 100ms ease-in-out;
}

textarea.dark {
    color: var(--input-user-color-dark);
}

.input-icon {
    color: var(--black-1);
    background-color: #e5e5e5;
    width: max-content;
    font-size: 20px;
    padding: 0.2rem;
    max-height: 26.4px;
    border-radius: 6px;
    justify-self: center;
    align-self: end;
    cursor: not-allowed;
    transition: background-color 100ms ease-in-out;
}

.input-icon.dark {
    background-color: var(--bg-color-2-dark);
}

.input-icon.active {
    background-color: black;
    color: white;
    transition: background-color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
}

.input-icon.active.dark {
    background-color: white;
    color: black;
}

.input-icon.active:hover {
    cursor: pointer;
}

.auto-scroll-icon {
    cursor: pointer;
}

.select-files-icon {
    justify-self: center;
    align-self: end;
    cursor: pointer;
}

.select-files-icon.dark {
    background-color: white;
    color: black;
}

input[type=file] {
    visibility: hidden;
    position: fixed;
    height: 0;
    width: 0;
}

.markdown.dark {
    color: var(--color-2-dark);
}

.markdown {
    overflow-x: auto;
}

@media (max-width: 1000px) {
    .chat-element-img {
        display: none;
    }

    .chat-element-img-user {
        display: none;
    }

    .chat-element {
        grid-template-columns: 1fr;
    }

    .chat-element.user {
        grid-template-columns: 1fr;
    }

    .input-user {
        width: 95%;
        margin-top: 1rem;
    }

    .chat-list {
        width: 95%;
    }
}
