main {
    padding: 1rem 0.7rem;
    height: 100%;
    background-color: var(--color-3);
    transition: background-color 100ms ease-in-out;
    user-select: none;
}

main.dark {
    background-color: var(--color-3-dark);
}

.new-chat {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr;
    height: 90px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
}

.new-chat.dark {
    background-color: var(--bg-color-1-dark);
}

.ai-logos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, 24px);
    justify-content: center;
    gap: 13px;
}

.logo {
    width: max-content;
    transition: filter 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out;
    border-radius: 5px;
    filter: grayscale(1);
}

.logo:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.logo.active {
    border: dashed 1px #2f2f2f;
    filter: grayscale(0);
}

.logo.active.dark {
    border: dashed 1px #ececec;
}

.text-new {
    justify-self: start;
    width: max-content;
    font-size: 14px;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
}

.text-new.dark {
    color: var(--color-2);
}

.text-new:hover {
    cursor: pointer;
    background-color: #ececec;
}

.text-new.dark:hover {
    background-color: #2f2f2f;
}

.add-icon {
    justify-self: end;
    width: max-content;
    font-size: 20px;
}

.add-icon.dark {
    color: var(--color-2);
}

.chat-list {
    margin-top: 1.5rem;
    font-size: 14px;
    overflow-y: auto;
    height: 75vh;
}

.chat-list-title {
    display: block;
    font-size: 0.8rem;
    font-family: soehne-semibold;
    margin-bottom: 0.5rem;
}

.chat-list-title.dark {
    color: var(--color-2);
}

.chat-element {
    padding-block: 0.6rem;
    padding-left: 0.4rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
}

.chat-element.dark {
    color: var(--color-2);
}

.chat-element.light {
    color: rgb(13, 13, 13);
}

.chat-element.active {
    background-color: #ececec;
    transition: background-color 100ms ease-in-out;
}

.chat-element.active.dark {
    background-color: var(--bg-color-1-dark);
}

.chat-element:hover {
    cursor: pointer;
    background-color: var(--bg-color-1);
}

.chat-element.dark:hover {
    background-color: var(--bg-color-1-dark);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: center;
}

footer i {
    width: max-content;
    font-size: 30px;
    color: #2f2f2f;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 9999px;
    transition: background-color 100ms ease-in-out;
}

footer i {
    font-size: 30px;
    color: #2f2f2f;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 9999px;
    transition: background-color 100ms ease-in-out;
}

footer i:first-child {
    justify-self: start;
}

footer i:last-child {
    justify-self: end;
}

footer i.dark {
    color: whitesmoke;
}

footer i:hover {
    background-color: #ececec;
}

footer i.dark:hover {
    background-color: #2f2f2f;
}
