<main themeColor>
    <div class="new-chat" themeColor>
        <div class="ai-logos">
            @for (aiEngineE of aiEngineList; track $index) {
                <img class="logo" [class.active]="aiEngine() == aiEngineE"
                    src="/assets/img/{{aiEngineE}}-logo.png" alt="Logo {{aiEngineE}}"
                    width="24" height="24" [title]="aiEngineE" (click)="setEngine(aiEngineE)"
                    themeColor>
            }
        </div>

        <span class="text-new" (click)="addChat()" themeColor>{{ 'chat.chat-list.new-chat' | translate }} <i
                class="material-icons-outlined add-icon" themeColor>add</i></span>
    </div>

    <div class="chat-list scroll-1">
        <span class="chat-list-title" themeColor>Chats</span>

        <div *ngFor="let chat of chatList(); index as i" class="chat-element" [class.active]="chatSelected() == chat.id"
            (click)="selectChat(chat.id)" themeColor>
            {{ 'chat.chat-list.conversation' | translate }} #{{ i + 1 }}
        </div>
    </div>

    <footer>
        <i class="material-icons-outlined theme-color-icon" (click)="toggleThemeColor()" themeColor>
            {{ themeColor() == 'light' ? 'dark_mode' : 'light_mode' }}
        </i>

        <i class="material-icons-outlined" #ngxContextMenu="ngxContextMenu" [contextMenu]="oneContextMenu"
            (click)="ngxContextMenu?.open($event)" themeColor>
            translate
        </i>
    </footer>
</main>

<context-menu #oneContextMenu>
    <ng-template contextMenuItem *ngFor="let language of languages" [disabled]="language.code == currentLanguage"
        (execute)="changeLanguage(language)">{{
        language.name }}</ng-template>
</context-menu>
