<main themeColor>
    <div class="new-chat" themeColor>
        <span class="text-new" (click)="addChat()" themeColor>Nuevo chat <i class="material-icons-outlined add-icon"
                themeColor>add</i></span>

        <div class="ai-logos">
            <img class="logo" [class.active]="aiEngine() == AiEngineEnum.openai" src="/assets/img/chat-gpt-logo.png"
                alt="Logo chat gpt" width="30" height="30" title="ChatGPT"
                (click)="setEngine(AiEngineEnum.openai)"
                themeColor>

            <img class="logo" [class.active]="aiEngine() == AiEngineEnum.gemini" src="/assets/img/gemini-logo.png"
                alt="Logo gemini" width="30" height="30" title="Gemini"
                (click)="setEngine(AiEngineEnum.gemini)"
                themeColor>

            <img class="logo" [class.active]="aiEngine() == AiEngineEnum.anthropic"
                src="/assets/img/anthropic-logo.png" alt="Logo anthropic"
                width="30" height="30" title="Anthropic" (click)="setEngine(AiEngineEnum.anthropic)"
                themeColor>
        </div>
    </div>

    <div class="chat-list scroll-1">
        <span class="chat-list-title" themeColor>Chats</span>

        <div *ngFor="let chat of chatList()" class="chat-element" [class.active]="chatSelected() == chat.id"
            (click)="selectChat(chat.id)" themeColor>
            {{ chat.id }}
        </div>
    </div>

    <div class="theme-color">
        <i class="material-icons-outlined theme-color-icon" (click)="toggleThemeColor()" themeColor>{{
            (themeColor | async) ==
            'light' ? 'dark_mode' : 'light_mode' }}</i>
    </div>
</main>
