main {
    padding: 1rem 0.7rem;
    height: 100%;
    background-color: var(--color-3);
    transition: background-color 100ms ease-in-out;
    user-select: none;
}

main.dark {
    background-color: var(--color-3-dark);
}

.new-chat {
    display: grid;
    grid-template-rows: 2fr;
    grid-template-columns: 1fr;
    height: 120px;
    align-items: center;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    border-radius: 0.5rem;
    gap: 0.7rem;
    transition: background-color 100ms ease-in-out;
}

.new-chat.dark {
    background-color: var(--bg-color-1-dark);
}

.ai-logos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 24px);
    justify-content: space-around;
    gap: 13px;
}

.logo {
    width: max-content;
    transition: filter 100ms ease-in-out;
    transition: box-shadow 100ms ease-in-out;
    border-radius: 5px;
    filter: grayscale(1);
}

.logo:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.logo.active {
    border: dashed 1px #2f2f2f;
    filter: grayscale(0);
}

.logo.active.dark {
    border: dashed 1px #ececec;
}

.chat-options {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    justify-items: center;
}

.chat-option {
    width: max-content;
    font-size: 14px;
    padding: 0.3rem;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
}

.chat-option.dark {
    color: var(--color-2);
}

.chat-option:hover {
    cursor: pointer;
    background-color: #ececec;
}

.chat-option.dark:hover {
    background-color: #2f2f2f;
}

.chat-option .icon {
    justify-self: end;
    width: max-content;
    font-size: 20px;
}

.chat-option .icon.dark {
    color: var(--color-2);
}

.chat-option.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.chat-list {
    margin-top: 1.5rem;
    font-size: 14px;
    overflow-y: auto;
    height: calc(var(--vh) * 73);
}

.chat-list-title {
    display: block;
    font-size: 0.8rem;
    font-family: soehne-semibold;
    margin-bottom: 0.5rem;
}

.chat-list-title.dark {
    color: var(--color-2);
}

.chat-element {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    padding-block: 0.6rem;
    padding-left: 0.4rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
    transition: background-color 100ms ease-in-out;
    transition: color 100ms ease-in-out;
}

.chat-element .delete-btn {
    justify-self: end;
    margin-right: 0.5rem;
    color: rgb(211, 65, 65);
}

.chat-element .delete-btn:hover {
    color: rgb(255, 0, 0);
}

.chat-element .delete-btn.dark {
    color: rgb(157, 43, 43);
}

.chat-element .delete-btn.dark:hover {
    color: rgb(206, 33, 33);
}

.chat-element.dark {
    color: var(--color-2);
}

.chat-element.light {
    color: rgb(13, 13, 13);
}

.chat-element.active {
    background-color: #ececec;
    transition: background-color 100ms ease-in-out;
}

.chat-element.active.dark {
    background-color: var(--bg-color-1-dark);
}

.chat-element:hover {
    cursor: pointer;
    background-color: var(--bg-color-1);
}

.chat-element.dark:hover {
    background-color: var(--bg-color-1-dark);
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

footer i {
    width: max-content;
    font-size: 30px;
    color: #2f2f2f;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 9999px;
    transition: background-color 100ms ease-in-out;
}

footer i {
    font-size: 30px;
    color: #2f2f2f;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 9999px;
    transition: background-color 100ms ease-in-out;
}

footer i.dark {
    color: whitesmoke;
}

footer i:hover {
    background-color: #ececec;
}

footer i.dark:hover {
    background-color: #2f2f2f;
}
